<div class="container">
  <div class="row justify-content-start">
    <div class="col-sm-10">
      <h1><%= @user.name %></h1>
      <h2><%= @user.email %></h2>
    </div>
  </div>
  <div class="row justify-content-around">
    <% @user.photos.each do |photo| %>
      <div class="card card-shadow card-margin" style="width: 25rem;">
        <%= image_tag photo.image.url(:medium), class:"card-img-top" %>
        <div class="card-body">
          <p class="card-text"><%= photo.title %></p>
          <p>Ficha: <b><%= photo.course.name %></b>,  <%= time_ago_in_words(photo.created_at) %></p>
        </div>
        <br>
      </div>
    <% end %>
  </div>
  <p><%= link_to '<i class="material-icons">reply_all</i> Volver'.html_safe, root_path %></p>
</div>
