<div class="container">
  <div class="row justify-content-around">
    <div class="col-sm-8">
      <h1>Evidencias Fotograficas POLI-SENA 2018</h1>
    </div>
    <div class="col-sm-2">
      <%= form_tag photos_path, method: :get do %>
      <div class="form-group">
        <%= select_tag :user_id, options_from_collection_for_select(User.all, "id", "name", params[:user_id]), prompt: "Instructor", class: "form-control form-control-sm" %>
      </div>
      <div class="form-group">
        <%= select_tag :course_id, options_from_collection_for_select(Course.all, "id", "name", params[:course_id]), prompt: "Ficha", class: "form-control form-control-sm" %>
      </div>
      <%= submit_tag "Buscar", name: nil, class: "btn btn-dark btn-sm btn-block" %>
      <% end %>
    </div>
  </div>


  <div class="row justify-content-around">
    <% @photos.each do |photo| %>
      <div class="card" style="width: 15rem;">
        <%= image_tag photo.image.url(:medium), class:"card-img-top" %>
        <div class="card-body">
          <p class="card-text"><%= photo.title %></p>
          <p>Ficha: <b><%= photo.course.name %></b></p>
          <p class="font-italic text-secondary">Publicado por <b><%= link_to photo.user.name, photo.user.name %></b>, <%= time_ago_in_words(photo.created_at) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
